{% extends 'base.html.twig' %}

{% block title %}Hello DeffaultController!
{% endblock %}

{% block body %}
	<a href="{{path('app_categories')}}">X</a>

	{{NouvelleCategorie.name}}
	{{NouvelleCategorie.description}}


{% endblock %}
